{{define "footer"}}
<footer>
    <p>Created by Vincent Schneider (cli-ish) |
        <a href="https://github.com/cli-ish/deezer-badge" target="_blank">View on GitHub</a></p>
</footer>
</main>
</body>
</html>
{{end}}