{{template "head" .}}
<section>
    <h2>Information</h2>
    <p>With our API, you can create your own Deezer badge that
        displays your last played track. To get
        started, simply click the button below and grant the API permission to access your Deezer
        account/information. Once
        you've done that, you'll be able to generate your own badge and share it with your friends!</p>
    <a href="./auth" class="auth-me">Connect to Deezer</a>
</section>
{{template "footer" .}}