<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create your Deezer Badge</title>
    <style>
        body {
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            background-color: #f1f1f1;
        }

        header {
            background-color: #222;
            color: #fff;
            text-align: center;
            padding: 15px 10px;
        }

        header h1 {
            margin: 0;
            font-size: 48px;
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        main {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px 20px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        section {
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 40px;
        }

        section p {
            font-size: 20px;
            margin-bottom: 30px;
        }

        h2 {
            margin-top: 10px;
            font-size: 36px;
            margin-bottom: 10px;
            color: #222;
        }

        footer {
            background-color: #222;
            color: #fff;
            text-align: center;
            padding: 30px 10px;
            font-size: 18px;
            border-radius: 10px;
        }

        footer p {
            margin: 0;
        }

        footer a {
            color: #fff;
            font-weight: 600;
            text-decoration: none;
        }

        .auth-me {
            text-decoration: none;
            background-color: #1db954;
            color: #fff;
            font-size: 24px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.2s ease;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        }

        .auth-me:hover {
            text-decoration: none;
            background-color: #1ed760;
        }
    </style>
</head>
<body>
<header>
    <h1>Create your last played badge</h1>
</header>
<main>
    <section>
        <h2>Information</h2>
        <p>With our API, you can create your own Deezer badge that
            displays your last played track. To get
            started, simply click the button below and grant the API permission to access your Deezer
            account/information. Once
            you've done that, you'll be able to generate your own badge and share it with your friends!</p>
        <a href="./auth" class="auth-me">Connect to Deezer</a>
    </section>
    <footer>
        <p>Created by Vincent Schneider (cli-ish) |
            <a href="https://github.com/cli-ish/deezer-badge" target="_blank">View on GitHub</a></p>
    </footer>
</main>
</body>
</html>